/target/
*.properties
*.class
*.gif
*.png
*.gif
/allure-results/
/.idea/
/.settings/
/allure-results/
/extent-reports/
/target/
/.classpath
/.factorypath
/.gitattributes
/.project
/allure-results.7z
/generate_allure_report.sh
/MVA-SHaftEngine.iml
/.apt_generated/
/.apt_generated_tests/
/.idea/
